.main__title{
   font-size:46px;
   margin-left:35px;
}
.navmenu{
   display:flex;
   justify-content: space-between;
   align-items:center;
}
.main__items{
   min-height:100vh;
}
.skeletons{
   margin:auto;
   text-align: center;
}